*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

#top{
    position: relative;
    width: 100%;
    height: 60%;
}

#btm{
    position: relative;
    width: 100%;
    height: 40%;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 620px;
    width: 100%;
    height: 7%;
    background-color: #fff;
}

#nav a{
    text-decoration: none;
    color: #222;
    font-size: 17px;
}

#btmnav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 100%;
    height: 15%;
    margin-top: 2%;
}

#btmslider{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 95%;
    height: 85%;
}

#btmnav h5{
    color: #222;
    font-size: 14px;
}

#btmnav h5 span{
    color: rgb(255, 183, 0);
}

/* ****************** TOP SLIDER ******************* */


.slider{
    position: relative;
    background: #000116;
    width: 100%;
    /* min-height: 500px;
    margin: 20px; */
    overflow: hidden;
    border-radius: 10px;
  }
  
  .slider .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
  }
  
  .slider .slide.active{
    clip-path: inset(0% 0% 0px 0px);
    transition: 2s;
  }
  
  .slider .slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
 
  
  .navigation{
    height: 448px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .slider:hover .navigation{
    opacity: 1;
  }
  
  .prev-btn, .next-btn{
    z-index: 999;
    font-size: 2em;
    color: #222;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    cursor: pointer;
  }
  
  .navigation .prev-btn{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  .navigation .next-btn{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .navigation-visibility{
    z-index: 999;
    display: flex;
    justify-content: center;
  }
  
  .navigation-visibility .slide-icon{
    z-index: 999;
    background: rgba(255, 255, 255, 0.8);
    width: 20px;
    height: 10px;
    transform: translateY(-50px);
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }
  
  .navigation-visibility .slide-icon.active{
    background: #4285F4;
  }
       
/* ******************************* BTM SLIDER ******************************** */


.imgslider{
  position: relative;
  width: 100%;
  min-height: 40%;
  /* margin: 20px; */
  overflow: hidden;
  border-radius: 10px;
}

.imgslider .slides{
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}

.imgslider .slides.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
}

.imgslider .slides img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgslider .slides .infoo{
  position: absolute;
  color: #222;
  width: 95%;
  margin-top: 50px;
  margin-left: 35px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
}

.imgslider .slides .infoo h2{
  font-size: 2em;
  font-weight: 800;
}

.imgslider .slides .infoo p{
  font-size: 1em;
  font-weight: 400;
}

.navigationn{
  height: 269px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.imgslider:hover .navigationn{
  opacity: 1;
}

.navigationn .prev-btn, .next-btn{
  z-index: 999;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.8);
  background: #222;
  padding: 10px;
  cursor: pointer;
}

.navigationn .prev-btn{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.navigationn .next-btn{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}


/* *********************** CARDS *************** */

.infoo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box {
  position: relative;
  width: 7%;
  height: 50%;
  border-radius: 10px;
  border: 1px solid rgb(120, 120, 120);
  box-shadow: 0 0 6px 2px rgb(131, 131, 131);
}

.imgg {
  margin-top: 5%;
  margin-left: 12%;
  width: 70px;
  height: 70px;
  background-color: #000116;
  border-radius: 15%;
}

.box h5{
  margin-top: 35%;
  text-align: center;
}

#in{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#one{
  background-image: url(https://images.unsplash.com/photo-1499781350541-7783f6c6a0c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1545&q=80);
  background-position: center;
  background-size: cover;
}

#two{
  background-image: url(https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1115&q=80);
  background-position: center;
  background-size: cover;
}

#three{
  background-image: url(https://images.unsplash.com/photo-1463592177119-bab2a00f3ccb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80);
  background-position: center;
  background-size: cover;
}

#four{
  background-image: url(https://images.unsplash.com/photo-1576201836106-db1758fd1c97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-position: center;
  background-size: cover;
}

#five{
  background-image: url(https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-position: center;
  background-size: cover;
}

#six{
  background-image: url(https://images.unsplash.com/photo-1587223962930-cb7f31384c19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  background-position: center;
  background-size: cover;
}

#seven{
  background-image: url(https://images.unsplash.com/photo-1570494362424-2f53c0b9698b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-position: center;
  background-size: cover;
}

#eight{
  background-image: url(https://images.unsplash.com/photo-1517588166688-529a7f4dc7ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80);
  background-position: center;
  background-size: cover;
}

#nine{
  background-image: url(https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1122&q=80);
  background-position: center;
  background-size: cover;
}

#ten{
  background-image: url(https://images.unsplash.com/photo-1563381013529-1c922c80ac8d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1113&q=80);
  background-position: center;
  background-size: cover;
}

#eleven{
  background-image: url(https://images.unsplash.com/photo-1536098561742-ca998e48cbcc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=836&q=80);
  background-position: center;
  background-size: cover;
}

#tweleve{
  background-image: url(https://images.unsplash.com/photo-1542051841857-5f90071e7989?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-position: center;
  background-size: cover;
}

#thirteen{
  background-image: url(https://images.unsplash.com/photo-1593955808003-93f6151e6028?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
  background-position: center;
  background-size: cover;
}

#fourteen{
  background-image: url(https://images.unsplash.com/photo-1536098561742-ca998e48cbcc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=836&q=80);
  background-position: center;
  background-size: cover;
}


/* ********************* RESPONSIVE CARDS ********************** */


#card{
  position: absolute;
  display: none;
  top: 20%;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

#cardstop{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  width: 100%;
  height: 50%;
}

#cardsbtm{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  width: 100%;
  height: 50%;
}

#box{
  width: 70px;
  height: 100px;
  border: 1px solid rgb(120, 120, 120);
  box-shadow: 0 0 6px 2px rgb(131, 131, 131);
  border-radius: 5%;
}

#img{
  margin-top: 7%;
  margin-left: 6%;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 5%;
}

#box h5{
  text-align: center;
  margin-top: 15%;
}

#cardtopnav h5 span{
  color: rgb(255, 183, 0);
}

#cardbtmnav h5 span{
  color: rgb(255, 183, 0);
}


#cardtopnav{
  position: absolute;
  width: 100%;
  height: 7%;
}

#cardtopnav{
  position: absolute;
  width: 100%;
  height: 7%;
}



.one{
  background-image: url(https://images.unsplash.com/photo-1499781350541-7783f6c6a0c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1545&q=80);
  background-position: center;
  background-size: cover;
}

.two{
  background-image: url(https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1115&q=80);
  background-position: center;
  background-size: cover;
}

.three{
  background-image: url(https://images.unsplash.com/photo-1463592177119-bab2a00f3ccb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80);
  background-position: center;
  background-size: cover;
}
.four{
  background-image: url(https://images.unsplash.com/photo-1542051841857-5f90071e7989?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-position: center;
  background-size: cover;
}

.five{
  background-image: url(https://images.unsplash.com/photo-1593955808003-93f6151e6028?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
  background-position: center;
  background-size: cover;
}

.six{
  background-image: url(https://images.unsplash.com/photo-1536098561742-ca998e48cbcc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=836&q=80);
  background-position: center;
  background-size: cover;
}

.ri-menu-3-fill{
  display: none;
  color: #222;
  font-size: 20px;
  position: absolute;
  right: 5%;
}


/* ********************* RESPONSIVE SECTION ******************** */

@media (max-width: 900px){
  .slider{
    width: 100%;
  }

  .imgslider{
    width: 100%;
  }
  
  #nav{
    width: 100%;
  }

  .imgslider .slides .infoo{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  #card{
    display: initial;
  }

  #btmslider{
    display: none;
  }

  .ri-menu-3-fill{
    display: initial;
  }

}


@media (max-width: 500px){
  #top{
    height: 48%;
  }

  #btm{
    height: 45%;
  }

  #nav{
    height: 10%;
  }

  #nav a{
    display: none;
  }

  .navigation-visibility{
    display: none;
  }


  #card{
    display: initial;
  }

  #btmslider{
    display: none;
  }

  .ri-menu-3-fill{
    display: initial;
  }
}
 
      